@mixin pixelBorder( $width, $color) {
        box-shadow:
                $width 0 $color,
                -$width 0 $color,
                0 (-$width) $color,
                0 $width $color;
}


@mixin adaptive-font($pcSize, $mobSize) {
        $addSize: $pcSize - $mobSize;
        $maxWidth: $maxWidth - 320;
        font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}